[submodule "cdi"]
	path = cdi-seminar
	url = https://github.com/HEm3R/a4m36jee-2014-cdi-seminar.git
[submodule "web"]
	path = web-seminar
	url = https://github.com/HEm3R/a4m36jee-2014-web-seminar.git
[submodule "management"]
	path = management-seminar
	url = https://github.com/HEm3R/a4m36jee-2014-management-seminar.git
